pkgbase = firestorm-vr
	pkgdesc = This is the Firestorm Viewer! - VR Mod
	pkgver = 6.5.6
	pkgrel = 1
	url = https://www.firestormviewer.org
	arch = i686
	arch = x86_64
	license = LGPL
	license = custom
	makedepends = cmake
	makedepends = gcc
	makedepends = make
	makedepends = python-virtualenv
	makedepends = python-pip
	makedepends = git
	makedepends = boost
	makedepends = xz
	makedepends = jq
	depends = dbus-glib
	depends = gconf
	depends = glu
	depends = gtk2
	depends = lib32-gcc-libs
	depends = lib32-libidn
	depends = lib32-libsndfile
	depends = lib32-util-linux
	depends = lib32-zlib
	depends = libgl
	depends = libidn
	depends = libjpeg-turbo
	depends = libpng
	depends = libxss
	depends = libxml2
	depends = mesa
	depends = nss
	depends = openal
	depends = sdl
	depends = vlc
	depends = zlib
	depends = libxcrypt-compat
	optdepends = alsa-lib: for ALSA support
	optdepends = pepper-flash: for inworld Flash support
	optdepends = freealut: for OpenAL support
	optdepends = lib32-libidn11: for voice support
	optdepends = libpulse: for PulseAudio support
	optdepends = mesa-libgl: For Intel, Radeon, Nouveau support
	optdepends = nvidia-libgl: for NVIDIA support
	optdepends = nvidia-utils: for NVIDIA support
	options = debug
	options = !strip
	source = firestorm-vr::git+https://vcs.firestormviewer.org/phoenix-firestorm#branch=Firestorm_6.5.6
	source = https://github.com/humbletim/firestorm-gha/raw/v6.5.6-vr-alpha-0/indra/newview/llviewerdisplay.cpp
	source = https://github.com/humbletim/firestorm-gha/raw/v6.5.6-vr-alpha-0/indra/newview/llviewerVR.cpp
	source = https://github.com/humbletim/firestorm-gha/raw/v6.5.6-vr-alpha-0/indra/newview/llviewerVR.h
	source = https://github.com/humbletim/firestorm-gha/raw/v6.5.6-vr-alpha-0/.github/3p/_autobuild-json2xml.jq
	source = https://github.com/humbletim/firestorm-gha/raw/v6.5.6-vr-alpha-0/.github/3p/build-cmds/3p-openvr.autobuild.json
	source = https://github.com/humbletim/firestorm-gha/raw/v6.5.6-vr-alpha-0/.github/3p/build-cmds/3p-openvr.build-cmd.sh
	source = fs-build-variables::git+https://vcs.firestormviewer.org/fs-build-variables
	source = 3p-openvr::git+https://github.com/ValveSoftware/openvr.git#tag=v1.6.10b
	source = openvr.patch
	source = firestorm-vr.patch
	source = firestorm-vr.desktop
	source = firestorm-vr.launcher
	sha512sums = SKIP
	sha512sums = 39522b11525a6e727ff0067645dae74045a709a0700af1a6796a40a4239df7f00859b7649ef70ef0249610664462da2923c390fa79b2aca6d056f4911a74a48f
	sha512sums = 6d280781597c0fc84866e73fb7c225f291632a6d23ea414b6006eff33474ca9050292582b5c6d77d1d5d6c2f6b0bca72f3ad3cf0fa806db3d0573234631fe4e7
	sha512sums = 6a9a2051a44968c98793991e5c0ef1cd27fe561942af4bdf761e4a74b44c4cded360ff31e7c5bd5d0f41794c3ad5aa2a4190a0fd0a6d785a8577c7bb5ec6daaf
	sha512sums = cbad481d81caa197f1457ce96d7f4eddb5988eca3db0cffbea783b31a5eed0b61941b2fb0a9c2d0f417a3372306328171c0e8713757cf5528cdccd7ef3d01bbe
	sha512sums = 9f1e28fe953b6bb33a13c0e06bd4860d37bc11fef76791b432b56174bc5e5586074acaedd36bb6199757c8fc0207ca71f81aa75e2bc8b25bfa760afcee53f67d
	sha512sums = 7e2ac3e2795dd574bfa3776c018ae2c48b4e4168dbea906fc482c4c1d3eb01bf2cbdfb097b004d8a27b260463d1456f08188891c58a8c6f9b9e62dea3adf987e
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 11962b5be2a88995c422271d6f5dd34b63897fbc0b7d987e036d5591d13f0d56b5c6e4a7337c2cce85a727ced20573bde9df8c52a73ce69c7ab70bd4b61597dd
	sha512sums = 36b911e484dcf4e11605572c4b7ff6fe6b893a3ae15cc43ee45b472e195074973ea2b8f562ead80a1aacc1ff811f1b059352230434f87d0cdb5915c311fc716e
	sha512sums = 182ad2ec0624e7fcaebdcdcbc7b015094e8523731e5786eae18f96bd7a5fe89474a4ba756590e6cb5dfe5e987190b08ea799f75b076f44b5e8964d2c1fb9e07f
	sha512sums = d00f4063ac3231135fada50715670832ef17d96e604916807900b6c6e360e062958ec25fe73a51ee2b263b9f5ba152bad01e3bf9d6f93d062e85f72e89c02e0d

pkgname = firestorm-vr
